*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root{
    --white:#fff;
    --light-white:rgb(220, 220, 220);
    --black:#000;
    --light-black:rgb(34, 34, 34);
    --grey:rgb(49, 49, 49);
    --main-color: orangered;
    --bg-color: var(--light-black);
    --secondary-bg-color: var(--black);
    --on-secondary: var(--white);
    --on-secondary-light:var(--grey);
}
body{
    background-color:var(--bg-color);
}
.nav-container .menu a:nth-child(2) {
	color: var(--main-color);
}
.nav-categories{
    width: 20vw;
    height: 100vh;
    padding: 5px;
}
.categories-container{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
}
.categories-container h3{
    color: #fff;
    margin-top: 10px;
}
.categories-container .users-container{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    padding:0px 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}
.categories-container .users-container .user{
	width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
    padding:3px 5px;
    border-radius: 6px;
    color: var(--white);
    background: linear-gradient(to right,rgb(76, 89, 186),rgb(253, 76, 76));
}
.categories-container .users-container .user .profile img{
    clip-path: circle(50% at 50% 50%);
    width: 5vh;
    height: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    background-attachment: fixed;
}
.categories-container .users-container .user .name{
    margin-left: 8px;
    text-align: left;
    padding: 10px 5px;
}
.main-section{
    width: 75vw;
    height: 100vh;
    padding: 5px;
}
.main-container{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 0px 10px;
}
.main-container header{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--on-secondary);
    padding:0px 10px;
}
.custom-field {
    font-size: 14px;
    position: relative;
    --field-padding:8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-field input{
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
}
.custom-field input:hover,
  .custom-field input:focus{
    outline:none;
    border-bottom: 2px solid var(--main-color);
  }
  .custom-field button{
    margin-left: 5px;
    padding: 8px;
    border: none;
    border-radius: 3px;
  }
  .custom-field button:hover{
    background-color: orangered;
    color: white;
  }
.main-container header .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0px 10px;
    color: var(--main-color);
}
.main-container header .pagination .prev{
    margin-right: 15px;
    background-color: var(--main-color);
    padding:5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.main-container header .pagination .prev a, .next a{
    text-decoration: none;
    color: var(--black);
}
.main-container header .pagination .number a{
    text-decoration: none;
    color: var(--main-color);
    margin: 0px 4px;
}
.main-container header .pagination .number .active{
    border-bottom: 2px solid var(--main-color);
    font-size: .8em;
    text-align: left;
    padding: 0px 5px;
}
.main-container header .pagination .next{
    margin-left: 15px;
    background-color: var(--main-color);
    padding:5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.main-container header .options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container header .options i{
    margin-left: 10px;
}
.main-container header .options i:hover{
    color: var(--main-color);
}





.main-container .main-container-captions{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    overflow-y: scroll;
}
.main-container .main-container-captions .caption{
    min-height: 40vh;
    border-radius: 10px;
}
.main-container .main-container-captions .caption .content{
    height: 32vh;
    border-radius: 10px;
    padding:15px 15px 0px 15px;
}
.main-container .main-container-captions .caption:nth-child(odd){background-color: pink;}
.main-container .main-container-captions .caption:nth-child(even){background-color: rgb(255, 27, 65);}
.main-container .main-container-captions .caption .caption-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}



.main-container .main-container-captions .caption .user{
    height: 8vh;
    border-radius: 10px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container .main-container-captions .caption .user .detail{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main-container .main-container-captions .caption .user .detail .profile img{
    clip-path: circle(50% at 50% 50%);
    width: 5vh;
    height: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    background-attachment: fixed;
}
.main-container .main-container-captions .caption .user .detail .name{
    margin-left: 8px;
    text-align: left;
    padding: 10px 5px;
}
.main-container .main-container-captions .caption .user .detail .name a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.main-container .main-container-captions .caption .user .action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container .main-container-captions .caption .user .action .shares,
.main-container .main-container-captions .caption .user .action .likes{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}
.main-container .main-container-captions .caption .user .action .shares .share-number,
.main-container .main-container-captions .caption .user .action .likes .like-number{
    font-size: 0.7em;
}
@media screen and (max-width:900px) {
    nav {
        width: 7vw;
    }
    .categories-container h3,
    .categories-container .categories .category h4,
    .main-container header{
        font-size: 0.8rem;
    }


}

@media screen and (max-width:700px) {
    nav {
        width: 9vw;
    }
    .nav-categories{
        width: 22vw;
    }
    .nav-categories,.main-section,nav{
        padding: 1px;
    }
    .categories-container h3,
    .categories-container .categories .category h4,
    .main-container header{
        font-size: 0.65rem;
    }
}

@media screen and (max-width:520px) {
    nav {
        width: 11vw;
        padding: 1px;
    }
    .nav-categories{
        width: 25vw;
    }
    .categories-container{
        padding: 1px;
    }
    .main-container{
        padding: 1px;
    }
    .categories-container h3,
    .categories-container .categories .category h4,
    .main-container header{
        font-size: 0.5rem;
    }
    .main-container .main-container-captions{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:300px) {
    nav {
        width: 13vw;
    }
    .nav-categories{
        width: 30vw;
    }
    .categories-container h3,
    .categories-container .categories .category h4,
    .main-container header{
        font-size: 0.4rem;
    }
    .main-container .main-container-captions{
        grid-template-columns: 1fr;
    }
}